/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 767.99px) {
  html {
    font-size: 16px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Myriad Pro", Arial, sans-serif;
  color: #202123;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  line-height: 1.55556;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media screen and (max-width: 1199.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 106px;
}

h2 {
  font-size: 76px;
}

@media screen and (max-width: 1199.99px) {
  h2 {
    font-size: 68px;
  }
}

@media screen and (max-width: 767.99px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 44px;
}

@media screen and (max-width: 575.99px) {
  h3 {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.noscroll {
  overflow: hidden;
}

/*-----------------SECTION-HOVER-ANIM--------------------*/
/*------------------------SECTION-COMMON----------------*/
.button {
  width: 240px;
  height: 49px;
  border: 1px solid #e8b93f;
  color: #e8b93f;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button:hover {
  border: 1px solid #ffffff;
  background-color: #e8b93f;
  color: #ffffff;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3000px;
}

.title__text {
  text-transform: uppercase;
  line-height: 1;
  margin-right: 30px;
}

@media screen and (max-width: 767.99px) {
  .title__text {
    margin-right: 20px;
  }
}

.title__line {
  content: '';
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 51px;
  background-color: #e8b93f;
}

@media screen and (max-width: 1199.99px) {
  .title__line {
    height: 46px;
  }
}

@media screen and (max-width: 767.99px) {
  .title__line {
    height: 19px;
  }
}

.title2 {
  color: #e8b93f;
  line-height: 1;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1199.99px) {
  .title2 {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.title2:before {
  content: '';
  height: 49px;
  background-color: #e8b93f;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 20px;
}

@media screen and (max-width: 1199.99px) {
  .title2:before {
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .title2:before {
    height: 19px;
    display: block;
  }
}

.title2:after {
  content: '';
  height: 49px;
  background-color: #e8b93f;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 20px;
}

@media screen and (max-width: 1199.99px) {
  .title2:after {
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .title2:after {
    height: 19px;
    display: block;
  }
}

/*------------------------SECTION-HEADER----------------*/
.header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202123), to(#2b2d2f));
  background-image: -webkit-linear-gradient(bottom, #202123 0%, #2b2d2f 100%);
  background-image: -o-linear-gradient(bottom, #202123 0%, #2b2d2f 100%);
  background-image: linear-gradient(to top, #202123 0%, #2b2d2f 100%);
  border-bottom: 4px solid #e8b93f;
  padding: 10px 0;
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1199.99px) {
  .header__container {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
}

@media screen and (max-width: 767.99px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199.99px) {
  .header__logo {
    margin-right: 105px;
    margin-left: auto;
  }
}

@media screen and (max-width: 767.99px) {
  .header__logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 1199.99px) {
  .header__nav {
    display: none;
  }
}

.logo {
  width: 39px;
  height: 39px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__item {
  color: #ffffff;
  margin-right: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav__item:hover {
  color: #e8b93f;
}

.nav__item:last-child {
  margin-right: 0;
}

/*-----------------SECTION-SLIDER--------------------*/
.slider {
  position: relative;
  margin-top: 107px;
}

@media screen and (max-width: 767.99px) {
  .slider {
    margin-top: 63px;
  }
}

.slider__nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
}

@media screen and (max-width: 767.99px) {
  .slider__nav {
    top: initial;
    bottom: 20px;
  }
}

.slider__nav .container {
  height: 100%;
}

.slider__nav-wrapper {
  position: relative;
  height: 100%;
}

@media screen and (max-width: 767.99px) {
  .slider__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.slider__nav-button {
  pointer-events: initial;
  width: 43px;
  height: 43px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  outline: none;
}

.slider__nav-button:hover {
  background: #ffffff;
}

.slider__nav-button:hover .slider__nav-svg {
  fill: #e8b93f;
}

.slider__nav-svg {
  margin-left: 5px;
  width: 14px;
  height: 24px;
  fill: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.slider__next {
  position: absolute;
  bottom: 60px;
  right: 0;
}

@media screen and (max-width: 1199.99px) {
  .slider__next {
    bottom: 30px;
  }
}

@media screen and (max-width: 767.99px) {
  .slider__next {
    position: static;
  }
}

.slider__prev {
  position: absolute;
  bottom: 60px;
  right: 65px;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media screen and (max-width: 1199.99px) {
  .slider__prev {
    bottom: 30px;
  }
}

@media screen and (max-width: 767.99px) {
  .slider__prev {
    position: static;
    margin-right: 25px;
  }
}

.slider__info {
  position: absolute;
  left: 0;
  bottom: 60px;
}

@media screen and (max-width: 1199.99px) {
  .slider__info {
    bottom: 30px;
  }
}

@media screen and (max-width: 767.99px) {
  .slider__info {
    display: none;
  }
}

.slider__info-text {
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-bottom: -10px;
}

.slider__info-svg {
  width: 28px;
  height: 43px;
}

.slider__pagination {
  position: absolute;
  width: auto;
  right: 0;
  left: initial;
  bottom: initial;
  top: 50%;
  margin-top: -115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767.99px) {
  .slider__pagination {
    display: none;
  }
}

.slider__pagination-item {
  color: #ffffff;
  font-size: 14px;
}

.slider__pagination-seporator {
  width: 2px;
  height: 126px;
  background-color: #ffffff;
  margin-top: 3px;
  margin-bottom: 5px;
}

.slider__oblique {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  top: 0;
  bottom: 0;
  right: 0;
  width: 655px;
}

@media screen and (max-width: 1199.99px) {
  .slider__oblique {
    width: 317px;
  }
}

@media screen and (max-width: 767.99px) {
  .slider__oblique {
    display: none;
  }
}

.slider__oblique-svg {
  height: 100%;
  width: 100%;
  fill: #e8b93f;
}

@media screen and (max-width: 1199.99px) {
  .slider__oblique-svg {
    display: none;
  }
}

.slider__oblique-svg_lg {
  display: none;
}

@media screen and (max-width: 1199.99px) {
  .slider__oblique-svg_lg {
    display: block;
  }
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  height: 976px;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1199.99px) {
  .slide {
    height: 666px;
  }
}

@media screen and (max-width: 767.99px) {
  .slide {
    height: 316px;
    padding-bottom: 60px;
  }
}

.slide .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767.99px) {
  .slide .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.slide__title {
  color: #ffffff;
  font-size: 106px;
  line-height: 1.26415;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .slide__title {
    font-size: 76px;
  }
}

@media screen and (max-width: 767.99px) {
  .slide__title {
    font-size: 34px;
    text-align: center;
  }
}

.slide__title:after {
  content: '';
  display: block;
  width: 359px;
  height: 13px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1199.99px) {
  .slide__title:after {
    width: 259px;
  }
}

@media screen and (max-width: 767.99px) {
  .slide__title:after {
    width: 115px;
    height: 6px;
  }
}

/*-----------------SECTION-ABOUT--------------------*/
.about {
  padding: 150px 0;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .about {
    padding: 90px 0;
  }
}

@media screen and (max-width: 767.99px) {
  .about {
    padding: 50px 0;
  }
}

.about:before {
  content: '';
  display: block;
  height: 178px;
  background-color: #e8b93f;
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -89px;
  right: 60%;
  left: 0;
}

@media screen and (max-width: 1199.99px) {
  .about:before {
    display: none;
  }
}

.about > .container {
  position: relative;
  z-index: 20;
}

.about__left, .about__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}

@media screen and (max-width: 1199.99px) {
  .about__left, .about__right {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .about__left {
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767.99px) {
  .about__left {
    margin-bottom: 25px;
  }
}

.about__right {
  position: relative;
}

.about__img {
  height: 685px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 991.99px) {
  .about__img {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 767.99px) {
  .about__img {
    height: auto;
    width: 100%;
  }
}

.about__img-item {
  position: absolute;
  right: 0;
  width: 260px;
  bottom: 21px;
  height: 207px;
  border: 14px solid #ffffff;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__pic {
  width: 100%;
}

.about__title {
  margin-bottom: 15px;
}

@media screen and (max-width: 1199.99px) {
  .about__title {
    display: none;
  }
}

.about__title_lg {
  display: none;
}

@media screen and (max-width: 1199.99px) {
  .about__title_lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767.99px) {
  .about__title_lg {
    margin-bottom: 25px;
  }
}

.about__content {
  height: 335px;
  overflow: hidden;
  margin-bottom: 25px;
}

@media screen and (max-width: 1199.99px) {
  .about__content {
    height: auto;
    margin-bottom: 35px;
  }
}

.about__content-col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}

@media screen and (max-width: 767.99px) {
  .about__content-col {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 767.99px) {
  .about__content-col {
    margin-bottom: 20px;
  }
  .about__content-col:last-child {
    margin-bottom: 0;
  }
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: -315px;
}

@media screen and (max-width: 1199.99px) {
  .about__items {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767.99px) {
  .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about__items .row {
  width: 100%;
  margin-right: -45px;
}

.about__item {
  width: 284px;
  height: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 14px solid #202123;
  border-bottom: 14px solid #202123;
  padding-left: 30px;
}

@media screen and (max-width: 1199.99px) {
  .about__item {
    border-width: 8px;
    height: 178px;
  }
}

@media screen and (max-width: 767.99px) {
  .about__item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-width: 4px;
    border: 4px solid #202123;
    padding: 40px 20px;
    text-align: center;
  }
  .about__item:last-child {
    margin-bottom: 0;
  }
}

.about__item:first-child {
  border-left: 14px solid #202123;
}

@media screen and (max-width: 1199.99px) {
  .about__item:first-child {
    border-width: 8px;
  }
}

@media screen and (max-width: 767.99px) {
  .about__item:first-child {
    border-width: 4px;
  }
}

.about__item:last-child {
  border-right: 14px solid #202123;
}

@media screen and (max-width: 1199.99px) {
  .about__item:last-child {
    border-width: 8px;
  }
}

@media screen and (max-width: 767.99px) {
  .about__item:last-child {
    border-width: 4px;
  }
}

.about__item_left {
  border-color: #ffffff !important;
}

@media screen and (max-width: 1199.99px) {
  .about__item_left {
    border-color: #202123 !important;
  }
}

.about__item-title {
  color: #e8b93f;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.99px) {
  .about__item-title {
    font-size: 86px;
  }
}

.about__item-title_small {
  font-size: 24px;
}

@media screen and (max-width: 1199.99px) {
  .about__item-title_small {
    font-size: 21px;
  }
}

.about__item-text {
  font-size: 26px;
  line-height: 1;
}

@media screen and (max-width: 1199.99px) {
  .about__item-text {
    font-size: 22px;
  }
}

.about__item-text_white {
  color: #ffffff;
}

@media screen and (max-width: 1199.99px) {
  .about__item-text_white {
    color: #202123;
  }
}

/*-----------------SECTION-SERVICES--------------------*/
.services {
  background-image: url("../images/bg/bg-services.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 120px 0;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .services {
    padding: 100px 0 80px 0;
  }
}

@media screen and (max-width: 767.99px) {
  .services {
    padding: 50px 0;
  }
}

.services__bg {
  position: absolute;
  z-index: 10;
  top: -180px;
  right: -80px;
}

@media screen and (max-width: 1199.99px) {
  .services__bg {
    display: none;
  }
}

.services__title {
  width: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  background-color: #e8b93f;
  padding: 20px 15px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1199.99px) {
  .services__title {
    width: 75%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.99px) {
  .services__title {
    width: 81%;
    margin-bottom: 30px;
  }
}

.service {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(25% - 30px);
  border: 1px solid #e8b93f;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1199.99px) {
  .service {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .service {
    padding: 90px 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .service {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 767.99px) {
  .service {
    padding: 40px 20px;
  }
  .service:last-child {
    margin-bottom: 0;
  }
}

.service:hover {
  background-color: #e8b93f;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.service:hover .service__svg {
  fill: #ffffff;
}

.service:hover .service__svg .cls-1 {
  fill: #ffffff;
}

.service__svg {
  fill: #e8b93f;
  max-width: 110px;
  max-height: 70px;
  margin-bottom: 35px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.service__svg .cls-1 {
  fill: #e8b93f;
}

.service__title {
  color: #ffffff;
  text-align: center;
}

/*-----------------SECTION-ADVANTAGES--------------------*/
.advs {
  padding: 140px 0 90px 0;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .advs {
    padding-top: 90px;
    padding-bottom: 600px;
  }
}

@media screen and (max-width: 767.99px) {
  .advs {
    padding-top: 50px;
    padding-bottom: 430px;
  }
}

.advs__title {
  margin-bottom: 270px;
  position: relative;
  z-index: 20;
  padding-left: 300px;
}

@media screen and (max-width: 1199.99px) {
  .advs__title {
    padding: 0;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767.99px) {
  .advs__title .title__text {
    -ms-flex-preferred-size: 217px;
    flex-basis: 217px;
  }
}

.advs__items {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(66.66667% - 30px);
  margin-left: calc(33.33333% + 15px);
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .advs__items {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .advs__items {
    margin-left: calc(0% + 15px);
  }
}

@media screen and (max-width: 1199.99px) {
  .advs__items {
    position: static;
  }
}

.advs__angle {
  background-image: url(../images/bg/bg-adv.png);
  width: 736px;
  height: 623px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1199.99px) {
  .advs__angle {
    width: 508px;
    height: 187px;
    top: initial;
    left: initial;
    bottom: 0;
    right: 0;
    background-image: url(../images/bg/bg-adv-lg.png);
  }
}

.advs__man {
  background-repeat: no-repeat;
  background-size: cover;
  width: 565px;
  height: 794px;
  position: absolute;
  z-index: 20;
  bottom: -90px;
  left: -600px;
}

@media screen and (max-width: 1199.99px) {
  .advs__man {
    width: 409px;
    height: 575px;
    bottom: 0;
    left: -85px;
  }
}

@media screen and (max-width: 767.99px) {
  .advs__man {
    width: 300px;
    height: 422px;
    left: 50%;
    margin-left: -150px;
  }
}

.advs__man-text {
  background-image: url(../images/content/adv-man-text.png);
  width: 917px;
  height: 157px;
  position: absolute;
  top: 60px;
  left: calc(100% - 150px);
  padding: 0 70px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.8;
  font-size: 28px;
  line-height: 1.35714;
}

@media screen and (max-width: 1199.99px) {
  .advs__man-text {
    background-image: url(../images/content/adv-man-text-lg.png);
    width: 539px;
    height: 228px;
    padding: 0 25px 0 130px;
    top: 40px;
    left: calc(100% - 120px);
  }
}

@media screen and (max-width: 767.99px) {
  .advs__man-text {
    background-image: url(../images/content/adv-man-text-sm.png);
    width: 280px;
    height: 241px;
    left: 12px;
    top: 160px;
    padding: 0 15px;
    font-size: 18px;
    padding-top: 40px;
  }
}

.adv {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 767.99px) {
  .adv {
    width: calc(100% - 30px);
  }
}

.adv__svg {
  width: 80px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #e8b93f;
  margin-bottom: 10px;
}

.adv__svg .cls-1 {
  fill: #e8b93f;
}

.adv__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.08333;
}

/*-----------------SECTION-PERSPECTIVES--------------------*/
.pers {
  padding: 140px 0 150px 0;
  background-image: url("../images/bg/bg-pers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media screen and (max-width: 1199.99px) {
  .pers {
    padding: 100px 0;
  }
}

@media screen and (max-width: 767.99px) {
  .pers {
    padding: 50px 0;
  }
}

.pers__title {
  margin-bottom: 10px;
}

.pers__subtitle {
  width: calc(83.33333% - 30px);
  margin-left: calc(8.33333% + 15px);
  margin-right: calc(8.33333% + 15px);
  text-align: center;
  opacity: 0.8;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.38462;
  margin-bottom: 60px;
}

@media screen and (max-width: 767.99px) {
  .pers__subtitle {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 767.99px) {
  .pers__subtitle {
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
}

@media screen and (max-width: 767.99px) {
  .pers__subtitle {
    font-size: 20px;
    margin-bottom: 45px;
  }
}

.pers__items {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  margin-bottom: 80px;
}

@media screen and (max-width: 1199.99px) {
  .pers__items {
    margin-bottom: 0;
  }
}

.pers__button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  margin-left: calc(25% + 15px);
  margin-right: calc(25% + 15px);
  height: 83px;
  font-size: 26px;
}

@media screen and (max-width: 1199.99px) {
  .pers__button {
    width: calc(75% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .pers__button {
    margin-left: calc(12.5% + 15px);
    margin-right: calc(12.5% + 15px);
  }
}

@media screen and (max-width: 575.99px) {
  .pers__button {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 575.99px) {
  .pers__button {
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
}

@media screen and (max-width: 575.99px) {
  .pers__button {
    font-size: 20px;
    height: 63px;
  }
}

.per {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(25% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1199.99px) {
  .per {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .per {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575.99px) {
  .per {
    width: calc(100% - 30px);
  }
}

.per:hover .per__img {
  background-color: #e8b93f;
  border: 1px solid #ffffff;
}

.per:hover .per__svg {
  fill: #ffffff;
}

.per:hover .per__svg .cls-1 {
  fill: #ffffff;
}

.per__img {
  width: 134px;
  height: 134px;
  border: 1px solid #e8b93f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.per__svg {
  width: 70px;
  height: 70px;
  fill: #e8b93f;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.per__svg .cls-1 {
  fill: #e8b93f;
}

.per__svg .cls-2 {
  fill: none;
}

.per__title {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  line-height: 1.27273;
}

/*-----------------SECTION-FEED--------------------*/
.form {
  width: 584px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202123), to(#2b2d2f));
  background-image: -webkit-linear-gradient(bottom, #202123 0%, #2b2d2f 100%);
  background-image: -o-linear-gradient(bottom, #202123 0%, #2b2d2f 100%);
  background-image: linear-gradient(to top, #202123 0%, #2b2d2f 100%);
  padding: 30px 85px 125px 40px;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .form {
    width: 578px;
  }
}

@media screen and (max-width: 767.99px) {
  .form {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 95px;
  }
}

.form_2 {
  width: 100%;
  padding: 30px 40px 40px 40px;
  background-image: none;
  background-color: #ffffff;
}

@media screen and (max-width: 1199.99px) {
  .form_2 {
    max-width: 554px;
  }
}

@media screen and (max-width: 767.99px) {
  .form_2 {
    padding: 30px 20px;
  }
}

.form_2 .form__success {
  padding: 30px 40px 40px 40px;
  background-image: none;
  background-color: #ffffff;
}

.form__title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__title_2 {
  color: #202123;
}

@media screen and (max-width: 767.99px) {
  .form__title {
    font-size: 20px;
  }
}

.form__fields {
  margin-bottom: 20px;
}

.form__field {
  margin-bottom: 20px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 14px 20px;
  outline: none;
  color: #ffffff;
}

.form__input_2 {
  border: 1px solid #202123;
  color: #202123;
}

.form__submit {
  margin-bottom: 20px;
}

.form__success {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202123), to(#2b2d2f));
  background-image: -webkit-linear-gradient(bottom, #202123 0%, #2b2d2f 100%);
  background-image: -o-linear-gradient(bottom, #202123 0%, #2b2d2f 100%);
  background-image: linear-gradient(to top, #202123 0%, #2b2d2f 100%);
  padding: 30px 85px 125px 40px;
  font-size: 32px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e8b93f;
}

.form__success-close {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.form__success-svg {
  width: 25px;
  height: 25px;
}

.submit {
  width: 100%;
  height: 54px;
  border-radius: 2px;
  background-color: #e8b93f;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 700;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 767.99px) {
  .submit {
    height: 44px;
  }
}

.submit:hover {
  background-color: #ffffff;
  color: #202123;
}

.submit_2:hover {
  background-color: #202123;
  color: #ffffff;
}

.accept {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.accept__check {
  display: none;
}

.accept__check:checked + .accept__wrapper .accept__fake:after {
  display: block;
}

.accept__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.accept__label {
  margin-right: 10px;
}

.accept__fake {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.accept__fake:after {
  display: none;
  content: '';
  width: 9px;
  height: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.accept__fake_2 {
  background: transparent;
  border: 1px solid #e8b93f;
}

.accept__fake_2:after {
  border-color: #e8b93f;
}

.accept__link {
  opacity: 0.7;
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
}

.accept__link_2 {
  color: #202123;
}

.disabled {
  pointer-events: none;
  opacity: .7;
}

.feed {
  background-image: url(../images/bg/bg-feed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  padding: 70px 0 0 0;
}

.feed__title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(89.58333% - 30px);
  margin-left: calc(10.41667% + 15px);
  border: 16px solid #ffffff;
  border-left: none;
  margin-bottom: 70px;
  position: relative;
  z-index: 20;
  pointer-events: none;
}

@media screen and (max-width: 1199.99px) {
  .feed__title {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .feed__title {
    margin-left: calc(0% + 15px);
  }
}

@media screen and (max-width: 1199.99px) {
  .feed__title {
    border-left: 16px solid #ffffff;
    border-top: none;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767.99px) {
  .feed__title {
    border-width: 6px;
  }
}

.feed__title-text {
  color: #ffffff;
  line-height: 1.22727;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.99px) {
  .feed__title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 485px;
  }
}

@media screen and (max-width: 575.99px) {
  .feed__title-text {
    margin-bottom: 420px;
  }
}

.feed__title-text:before {
  content: '';
  display: block;
  height: 50px;
  width: 16px;
  background: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.99px) {
  .feed__title-text:before {
    height: 16px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .feed__title-text:before {
    margin-right: 10px;
    height: 8px;
  }
}

.feed__title-text:after {
  content: '';
  display: block;
  height: 50px;
  width: 16px;
  background: #ffffff;
  margin-top: 20px;
}

@media screen and (max-width: 1199.99px) {
  .feed__title-text:after {
    height: 16px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .feed__title-text:after {
    margin-left: 10px;
    height: 8px;
  }
}

.feed__title-relative {
  position: relative;
  left: -120px;
}

@media screen and (max-width: 1199.99px) {
  .feed__title-relative {
    left: 0;
    top: -10px;
  }
}

.feed .container {
  position: relative;
}

.feed__form {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1199.99px) {
  .feed__form {
    left: 50%;
    margin-left: -289px;
  }
}

@media screen and (max-width: 767.99px) {
  .feed__form {
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-right: 25px;
    left: 0;
  }
}

/*-----------------SECTION-WHY--------------------*/
.why {
  padding: 180px 0 150px 0;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .why {
    padding: 100px 0;
  }
}

@media screen and (max-width: 767.99px) {
  .why {
    padding: 50px 0;
  }
}

.why__bg1 {
  position: absolute;
  top: 370px;
  right: -180px;
  width: 561px;
}

@media screen and (max-width: 1199.99px) {
  .why__bg1 {
    width: 434px;
    height: 587px;
  }
}

@media screen and (max-width: 767.99px) {
  .why__bg1 {
    display: none;
  }
}

.why__bg2 {
  position: absolute;
  bottom: -225px;
  left: -150px;
  width: 622px;
  height: 521px;
}

@media screen and (max-width: 1199.99px) {
  .why__bg2 {
    width: 514px;
    height: 431px;
    left: 50%;
    margin-left: -257px;
    bottom: -325px;
  }
}

@media screen and (max-width: 767.99px) {
  .why__bg2 {
    display: none;
  }
}

.why__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1199.99px) {
  .why__title {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.why__title-line {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 52px;
  background-color: #e8b93f;
}

@media screen and (max-width: 1199.99px) {
  .why__title-line {
    height: 49px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 205px;
    flex-basis: 205px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.99px) {
  .why__title-line {
    height: 19px;
    margin-bottom: 5px;
  }
}

.why__title-container {
  min-width: 1200px;
  padding: 0 30px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (max-width: 1199.99px) {
  .why__title-container {
    min-width: initial;
    width: auto;
    padding: 0 20px;
    -ms-flex-preferred-size: 640px;
    flex-basis: 640px;
    padding-right: 0;
  }
}

.why__title-text {
  line-height: 1;
  text-transform: uppercase;
}

.why__left, .why__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  position: relative;
  z-index: 20;
}

@media screen and (max-width: 1199.99px) {
  .why__left, .why__right {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .why__left, .why__right {
    position: static;
  }
}

.why__left {
  margin-bottom: 40px;
}

@media screen and (max-width: 1199.99px) {
  .why__right {
    width: calc(66.66667% - 30px);
  }
}

@media screen and (max-width: 767.99px) {
  .why__right {
    width: calc(100% - 30px);
  }
}

.why__content {
  opacity: 0.8;
  font-size: 28px;
  line-height: 1.35714;
}

@media screen and (max-width: 767.99px) {
  .why__content {
    font-size: 20px;
  }
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.why__item:last-child {
  margin-bottom: 0;
}

.why__item-img {
  min-width: 140px;
  width: 140px;
  height: 140px;
  background-color: #e8b93f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 24px;
}

@media screen and (max-width: 575.99px) {
  .why__item-img {
    min-width: 52px;
    width: 52px;
    height: 52px;
    background-color: #e8b93f;
    margin-right: 20px;
    padding: 8px;
  }
}

.why__item-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36364;
}

@media screen and (max-width: 767.99px) {
  .why__item-text {
    font-size: 18px;
  }
}

/*-----------------SECTION-CALLORDER--------------------*/
.callorder, .modal {
  position: fixed;
  z-index: 300;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 33, 35, 0.4);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.callorder.active, .active.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callorder__content {
  margin-top: 220px;
  position: relative;
}

@media screen and (max-width: 1199.99px) {
  .callorder__content {
    margin-top: 150px;
  }
}

@media screen and (max-width: 767.99px) {
  .callorder__content {
    margin-top: 0;
    width: 100%;
  }
}

.callorder__form {
  width: 554px;
}

@media screen and (max-width: 767.99px) {
  .callorder__form {
    width: 100%;
    height: 100%;
  }
  .callorder__form form {
    height: 100%;
  }
}

.callorder__close {
  width: 57px;
  height: 57px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: calc(100% + 30px);
  top: 0;
}

@media screen and (max-width: 767.99px) {
  .callorder__close {
    top: 0;
    left: initial;
    right: 0;
  }
}

@media screen and (max-width: 767.99px) {
  .callorder__close {
    width: 30px;
    height: 30px;
  }
}

.callorder__close-svg {
  width: 35px;
  height: 35px;
  fill: #000000;
}

@media screen and (max-width: 767.99px) {
  .callorder__close-svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .callorder-button {
    display: none;
  }
}

.callorder-button-lg {
  display: none;
  width: 35px;
  height: 34px;
  border: 1px solid #e8b93f;
  background: url("../images/icons/callorder.png") center center no-repeat;
}

@media screen and (max-width: 767.99px) {
  .callorder-button-lg {
    display: block;
  }
}

.modal {
  max-height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__wrapper {
  position: relative;
}

.modal__close {
  position: absolute;
  right: calc(100% + 30px);
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 767.99px) {
  .modal__close {
    right: 0;
    top: 40px;
    width: 35px;
    height: 35px;
    background-color: transparent;
  }
}

.modal__close-svg {
  width: 35px;
  height: 35px;
  fill: #000000;
}

@media screen and (max-width: 767.99px) {
  .modal__close-svg {
    width: 25px;
    height: 25px;
  }
}

.modal__content {
  background-color: #ffffff;
  padding: 40px 0 0 0;
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 575.99px) {
  .modal__content {
    padding-bottom: 40px;
  }
}

.modal__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal__img {
  padding: 0 30px;
  margin-bottom: 10px;
}

.modal__pic {
  width: 100%;
}

.modal__list {
  padding: 0 30px;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;
}

.modal__item {
  color: rgba(32, 33, 35, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6px;
}

.modal__item:last-child {
  margin-bottom: 0;
}

.modal__item:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #e8b93f;
  border-radius: 50%;
  margin-right: 10px;
}

.modal__link {
  width: 100%;
  height: 72px;
  background-color: #e8b93f;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*-----------------SECTION-MMENU--------------------*/
.mmenu-button {
  padding: 12px;
  border: 1px solid #ffffff;
  display: none;
}

@media screen and (max-width: 1199.99px) {
  .mmenu-button {
    display: block;
  }
}

@media screen and (max-width: 767.99px) {
  .mmenu-button {
    padding: 8px;
  }
}

.mmenu-button__line {
  width: 27px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 9px;
  display: block;
}

.mmenu-button__line:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767.99px) {
  .mmenu-button__line {
    width: 19px;
    height: 2px;
    margin-bottom: 5px;
  }
}

.mmenu {
  position: fixed;
  z-index: 300;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 33, 35, 0.4);
  display: none;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mmenu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mmenu.active .mmenu__wrapper {
  left: 0;
}

.mmenu__wrapper {
  background-color: #e8b93f;
  position: absolute;
  left: -1000px;
  top: 0;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
}

@media screen and (max-width: 575.99px) {
  .mmenu__wrapper {
    width: 100%;
    height: 100%;
  }
}

.mmenu__list {
  width: 374px;
  padding: 20px 0;
}

@media screen and (max-width: 575.99px) {
  .mmenu__list {
    width: 100%;
    height: 100%;
  }
}

.mmenu__close {
  padding: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.mmenu__close-svg {
  width: 35px;
  height: 35px;
  fill: #e8b93f;
}

.mmenu__item {
  display: block;
  color: #ffffff;
  font-size: 26px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 767.99px) {
  .mmenu__item {
    font-size: 22px;
    padding: 20px;
  }
}

.mmenu__item:last-child {
  border-bottom: none;
}

/*------------------------SECTION-FOOTER---------------------*/
.footer {
  background-image: url(../images/bg/bg-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}

.footer__top {
  padding: 140px 0 80px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1199.99px) {
  .footer__top {
    padding-top: 390px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767.99px) {
  .footer__top {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

.footer__bottom {
  padding: 30px 0;
}

.footer__bottom-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1199.99px) {
  .footer__bottom-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.footer__copy {
  opacity: 0.6;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1199.99px) {
  .footer__copy {
    margin-bottom: 15px;
  }
}

.footer__vendor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1199.99px) {
  .footer__vendor {
    position: static;
  }
}

.contacts__title {
  margin-bottom: 70px;
}

@media screen and (max-width: 1199.99px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}

.contacts__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__left, .contacts__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}

@media screen and (max-width: 1199.99px) {
  .contacts__left, .contacts__right {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199.99px) {
  .contacts__left {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199.99px) {
  .contacts__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 1199.99px) {
  .contact {
    margin-bottom: 50px;
  }
}

.contact:hover .contact__value {
  border-bottom: 1px solid #ffffff;
}

.contact:last-child {
  margin-bottom: 0;
}

.contact__img {
  width: 45px;
  height: 45px;
  background-color: #e8b93f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 25px;
}

.contact__svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.contact__value {
  color: #ffffff;
  font-size: 32px;
  line-height: 1;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding-bottom: 3px;
}

@media screen and (max-width: 767.99px) {
  .contact__value {
    font-size: 24px;
  }
}

.vendor {
  opacity: .5;
}

/*# sourceMappingURL=main.css.map */