.button {
  width: 240px;
  height: 49px;
  border: 1px solid $yellow;
  color: $yellow;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

  &:hover {
    border: 1px solid $bg;
    background-color: $yellow;
    color: $bg;
  }
}

.title {
  display: flex;
  align-items: center;
  width: 3000px;

  &__text {
    text-transform: uppercase;
    line-height: 1;
    margin-right: 30px;
  }

  &__line {
    content: '';
    position: relative;
    flex-grow: 1;
    height: 51px;
    background-color: $yellow;
  }
}

.title2 {

  color: $yellow;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    height: 49px;
    background-color: $yellow;
    flex-grow: 1;
    margin-right: 20px;
  }
  &:after {
    content: '';
    height: 49px;
    background-color: $yellow;
    flex-grow: 1;
    margin-left: 20px;
  }
}