.footer {
  background-image: url(/images/bg/bg-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  &__top {
    padding: 140px 0 80px 0;
    border-bottom: 1px solid rgba($bg,.5);
    @include lg-block {
      padding-top: 390px;
      padding-bottom: 60px;
    };
  }


  &__bottom {
    padding: 30px 0;


    &-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @include lg-block {
        flex-direction: column;
      };
    }
  }

  &__copy {
    opacity: 0.6;
    color: $bg;
    @include lg-block {
      margin-bottom: 15px;
    };
  }

  &__vendor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    display: flex;
    align-items: center;
    @include lg-block{
      position: static;
    };
  }

}

.contacts {

  &__title {
    margin-bottom: 70px;
    @include lg-block {
      margin-bottom: 40px;
    };
  }

  &__row {
    align-items: center;
  }

  &__left,&__right {
    @include col;
    @include size(12);
    @include size-lg(24);
  }
  &__left {
    @include lg-block {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
    };
  }
  &__right {
    @include lg-block {
      display: flex;
      justify-content: center;
    };

  }
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  @include lg-block {
    margin-bottom: 50px;
  };

  &:hover {
    .contact__value {
      border-bottom: 1px solid $bg;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    width: 45px;
    height: 45px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
  }

  &__svg {
    width: 25px;
    height: 25px;
    fill: $bg;
  }

  &__value {
    color: $bg;
    font-size: 32px;
    line-height: 1;
    border-bottom: 1px solid transparent;
    transition: .3s;
    padding-bottom: 3px;
  }
}

.vendor {
  opacity: .5;
}
