
.services {
  background-image: url("../images/bg/bg-services.jpg");
  background-position:0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 120px 0;
  position: relative;
  @include lg-block {
    padding: 100px 0 80px 0;
  };
  @include sm-block {
    padding: 50px 0;
  };

  &__bg {
    position: absolute;
    z-index: 10;
    top: -180px;
    right: -80px;
    @include lg-block {
      display: none;
    };
  }


  &__title {
    width: 51%;
    display: flex;
    justify-content: flex-end;
    color: $bg;
    line-height: 1;
    text-transform: uppercase;
    background-color: $yellow;
    padding: 20px 15px;
    margin-bottom: 60px;
    @include lg-block {
      width: 75%;
      margin-bottom: 50px;
    };
    @include sm-block {
      width: 81%;
      margin-bottom: 30px;
    };
  }
}

.service {
  @include col;
  @include size(6);
  border: 1px solid $yellow;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  transition: .3s;
  @include size-lg(12);
  @include lg-block {
    padding: 90px 20px;
    margin-bottom: 20px;
  };
  @include size-sm(24);
  @include sm-block{
    padding: 40px 20px;
    &:last-child{
      margin-bottom: 0;
    }
  };
  
  &:hover {
    background-color: $yellow;
    border: 1px solid $bg;
    cursor: pointer;

    .service__svg {
      fill: $bg;
      .cls-1 {
        fill: $bg;
      }
    }
  }

  &__svg {
    fill: $yellow;
    max-width: 110px;
    max-height: 70px;
    margin-bottom: 35px;
    transition: .3s;

    .cls-1 {
      fill: #e8b93f;
    }
  }

  &__title {
    color: $bg;
    text-align: center;
  }
}
