.why {
  padding: 180px 0 150px 0;
  position: relative;
  @include lg-block {
    padding: 100px 0;
  };
  @include sm-block{
    padding: 50px 0;
  };

  &__bg1 {
    position: absolute;
    top: 370px;
    right: -180px;
    width: 561px;

    @media (max-width: 1699.99px) and (min-width: 1199.99px){
      display: none;
    }

    @include lg-block {
      width: 434px;
      height: 587px;
    };
    @include sm-block {
      display: none;
    };
  }

  &__bg2 {
    position: absolute;
    bottom: -225px;
    left: -150px;
    width: 622px;
    height: 521px;
    @include lg-block {
      width: 514px;
      height: 431px;
      left: 50%;
      margin-left: -257px;
      bottom: -325px;
    };
    @include sm-block {
      display: none;
    };
  }


  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include lg-block {
      align-items: flex-end;
    };

    &-line {
      flex-grow: 1;
      height: 52px;
      background-color: $yellow;
      @include lg-block {
        height: 49px;
        order: 1;
        flex-basis: 205px;
        margin-bottom: 10px;
      };
      @include sm-block {
        height: 19px;
        margin-bottom: 5px;
      };
    }
    &-container {
      min-width: 1200px;
      padding: 0 30px;
      flex-grow: 1;
      @include lg-block {
        min-width: initial;
        width: auto;
        padding: 0 20px;
        flex-basis: 640px;
        padding-right: 0;
      };
    }
    &-text {
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &__left, &__right {
    @include col;
    @include size(12);
    position: relative;
    z-index: 20;
    @include size-lg(24);
    @include lg-block {
      position: static;
    };
  }
  &__left {
    margin-bottom: 40px;
  }
  &__right {
    @include size-lg(16);
    @include size-sm(24);
  }

  &__content {
    opacity: 0.8;
    font-size: 28px;
    line-height: lh(28px,38px);
    @include sm-block {
      font-size: 20px;
    };
  }


  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }


    &-img {
      min-width: 140px;
      width: 140px;
      height: 140px;
      background-color: $yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;
      @include xs-block {
        min-width: 52px;
        width: 52px;
        height: 52px;
        background-color: $yellow;
        margin-right: 20px;
        padding: 8px;
      };
    }

    &-text {
      font-size: 22px;
      font-weight: 700;
      line-height: lh(22px,30px);
      @include sm-block {
        font-size: 18px;
      };
    }
  }
}